# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
*.iml
.idea/
.vscode/
.DS_Store
# generated platform runners are created by `flutter create .` in CI or locally
# (keep them if you customised icons / entitlements)
